/* ========== text style: Mitr ========== */
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;700&display=swap');

:root {
    --text-color-info: #fff;
    --text-color-header: #08542B;
    --color-yellow: #FFB72B;
    --color-green: #0F7B41;
    --color-darkgreen-rgba: rgba(7, 50, 27, 0.7);
    --color-white-rgba: rgba(255, 255, 255, 0.8);
    --text-font: "Mitr", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/forest-gallery-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* =========== Header menu start ========== */
nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 100px;
    margin-top: 40px;
    margin-left: 30px;
}

.header-menu {
    display: flex;
    margin-top: 50px;
    margin-right: 60px;
}

li {
    margin: 0 2rem;
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--text-color-info);
    font-family: var(--text-font);
}

li a:hover {
    text-decoration: underline;
    font-size: 20px;
}

ul .button {
    background-color: var(--color-yellow);
    border-radius: 50px;
    height: 40px;
    margin-top: -8px;
    padding: 7px;
}

ul .button:hover {
    background-color: var(--color-green);
}

/* =========== Header menu end ========== */


/* ========== Gallery start ========== */
main {
    margin: 80px 150px;
}

/* --------------- Elephant start --------------- */
.animal a {
    text-decoration: none;
}

.animal:nth-child(1) {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 20px;

    .animal-image {
        background-color: var(--color-green);
        border-radius: 20px;
        width: 180px;
        height: 180px;

        img {
            width: 200px;
            height: auto;
            position: relative;
            top: -22%;
        }
    }

    .animal-info {
        background-color: var(--color-darkgreen-rgba);
        border-radius: 0 10px 10px 0;
        width: 400px;
        height: 150px;
        font-family: var(--text-font);
        color: var(--text-color-info);
        padding: 1rem;

        h2 {
            display: flex;
            justify-content: center;
            padding-bottom: 0.2rem 0;
        }

        p {
            text-align: justify;
            font-size: 12px;
        }
    }
}

.animal:nth-child(1):hover {
    transform: scale(1.1);
}
/* --------------- Elephant end --------------- */

/* --------------- Gibbon start --------------- */
.animal:nth-child(2) {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 20px;

    .animal-image {
        background-color: var(--color-green);
        border-radius: 20px;
        width: 180px;
        height: 180px;

        img {
            width: 150px;
            height: auto;
            position: relative;
            top: -10%;
            left: 13%;
        }
    }

    .animal-info {
        background-color: var(--color-darkgreen-rgba);
        border-radius: 10px 0 0 10px;
        width: 400px;
        height: 150px;
        font-family: var(--text-font);
        color: var(--text-color-info);
        padding: 1rem;

        h2 {
            display: flex;
            justify-content: center;
            padding-bottom: 0.2rem 0;
        }

        p {
            text-align: justify;
            font-size: 12px;
        }
    }
}

.animal:nth-child(2):hover {
    transform: scale(1.1);
}
/* --------------- Gibbon end --------------- */

/* --------------- Hornbill start --------------- */
.animal:nth-child(3) {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 20px;

    .animal-image {
        background-color: var(--color-green);
        border-radius: 20px;
        width: 180px;
        height: 180px;

        img {
            width: 200px;
            height: auto;
            position: relative;
            top: -3%;
            left: -5%;
        }
    }

    .animal-info {
        background-color: var(--color-darkgreen-rgba);
        border-radius: 0 10px 10px 0;
        width: 400px;
        height: 150px;
        font-family: var(--text-font);
        color: var(--text-color-info);
        padding: 1rem;

        h2 {
            display: flex;
            justify-content: center;
            padding-bottom: 0.2rem 0;
        }

        p {
            text-align: justify;
            font-size: 12px;
        }
    }
}

.animal:nth-child(3):hover {
    transform: scale(1.1);
}
/* --------------- Hornbill end --------------- */

/* --------------- Panda start --------------- */
.animal:nth-child(4) {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 20px;

    .animal-image {
        background-color: var(--color-green);
        border-radius: 20px;
        width: 180px;
        height: 180px;

        img {
            width: 200px;
            height: auto;
            position: relative;
            top: -4%;
            left: -8%;
        }
    }

    .animal-info {
        background-color: var(--color-darkgreen-rgba);
        border-radius: 10px 0 0 10px;
        width: 400px;
        height: 150px;
        font-family: var(--text-font);
        color: var(--text-color-info);
        padding: 1rem;

        h2 {
            display: flex;
            justify-content: center;
            padding-bottom: 0.2rem 0;
        }

        p {
            text-align: justify;
            font-size: 12px;
        }
    }
}

.animal:nth-child(4):hover {
    transform: scale(1.1);
}
/* --------------- Panda end --------------- */

/* --------------- Rhino start --------------- */
.animal:nth-child(5) {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 20px;

    .animal-image {
        background-color: var(--color-green);
        border-radius: 20px;
        width: 180px;
        height: 180px;

        img {
            width: 210px;
            height: auto;
            position: relative;
            top: 12%;
        }
    }

    .animal-info {
        background-color: var(--color-darkgreen-rgba);
        border-radius: 0 10px 10px 0;
        width: 400px;
        height: 150px;
        font-family: var(--text-font);
        color: var(--text-color-info);
        padding: 1rem;

        h2 {
            display: flex;
            justify-content: center;
            padding-bottom: 0.2rem 0;
        }

        p {
            text-align: justify;
            font-size: 12px;
        }
    }
}

.animal:nth-child(5):hover {
    transform: scale(1.1);
}
/* --------------- Rhino end --------------- */

/* --------------- Sarus crane start --------------- */
.animal:nth-child(6) {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 20px;

    .animal-image {
        background-color: var(--color-green);
        border-radius: 20px;
        width: 180px;
        height: 180px;

        img {
            width: 160px;
            height: auto;
            position: relative;
            top: -15%;
            left: 5%;
        }
    }

    .animal-info {
        background-color: var(--color-darkgreen-rgba);
        border-radius: 10px 0 0 10px;
        width: 400px;
        height: 150px;
        font-family: var(--text-font);
        color: var(--text-color-info);
        padding: 1rem;

        h2 {
            display: flex;
            justify-content: center;
            padding-bottom: 0.2rem 0;
        }

        p {
            text-align: justify;
            font-size: 12px;
        }
    }
}

.animal:nth-child(6):hover {
    transform: scale(1.1);
}
/* --------------- Sarus crane end --------------- */

/* --------------- Slow loris start --------------- */
.animal:nth-child(7) {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 20px;

    .animal-image {
        background-color: var(--color-green);
        border-radius: 20px;
        width: 180px;
        height: 180px;

        img {
            width: 200px;
            height: auto;
            position: relative;
            top: 1%;
            left: -7%;
        }
    }

    .animal-info {
        background-color: var(--color-darkgreen-rgba);
        border-radius: 0 10px 10px 0;
        width: 400px;
        height: 150px;
        font-family: var(--text-font);
        color: var(--text-color-info);
        padding: 1rem;

        h2 {
            display: flex;
            justify-content: center;
            padding-bottom: 0.2rem 0;
        }

        p {
            text-align: justify;
            font-size: 12px;
        }
    }
}

.animal:nth-child(7):hover {
    transform: scale(1.1);
}
/* --------------- Slow loris end --------------- */

/* --------------- Tiger start --------------- */
.animal:nth-child(8) {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 20px;

    .animal-image {
        background-color: var(--color-green);
        border-radius: 20px;
        width: 180px;
        height: 180px;

        img {
            width: 250px;
            height: auto;
            position: relative;
            left: -38%;
        }
    }

    .animal-info {
        background-color: var(--color-darkgreen-rgba);
        border-radius: 10px 0 0 10px;
        width: 400px;
        height: 150px;
        font-family: var(--text-font);
        color: var(--text-color-info);
        padding: 1rem;

        h2 {
            display: flex;
            justify-content: center;
            padding-bottom: 0.2rem 0;
        }

        p {
            text-align: justify;
            font-size: 12px;
        }
    }
}

.animal:nth-child(8):hover {
    transform: scale(1.1);
}
/* --------------- Tiger end --------------- */
/* ========== Gallery end ========== */


/* ========== Social media start ========== */
footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: var(--color-darkgreen-rgba);
}

.wild-social_media a {
    margin: 0 10px;
}

.wild-social_media img {
    width: 30px;
    height: 30px;
}

.wild-social_media img:hover {
    transform: scale(1.2);
}
/* ========== Social media end ========== */