/* ========== text style: Mitr ========== */
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;700&display=swap');

:root {
    --text-color-info: #fff;
    --text-color-header: #08542B;
    --color-yellow: #FFB72B;
    --color-green: #0F7B41;
    --color-darkgreen-rgba: rgba(7, 50, 27, 0.7);
    --color-white-rgba: rgba(255, 255, 255, 0.8);
    --text-font: "Mitr", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/forest-gallery-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vw;
    height: 100vh;
    object-fit: cover; */
}

/* =========== Header menu start ========== */
nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 100px;
    margin-top: 40px;
    margin-left: 30px;
}

.header-menu {
    display: flex;
    margin-top: 50px;
    margin-right: 60px;
}

li {
    margin: 0 2rem;
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--text-color-info);
    font-family: var(--text-font);
}

li a:hover {
    text-decoration: underline;
    font-size: 20px;
}

ul .button {
    background-color: var(--color-yellow);
    border-radius: 50px;
    height: 40px;
    margin-top: -8px;
    padding: 7px;
}

ul .button:hover {
    background-color: var(--color-green);
}

/* =========== Header menu end ========== */

/* ========== Rhino Gallery start ========== */
.rhino-container {
    padding: 22px 0;
}

.rhino {
    display: flex;
    align-items: center;
}

.rhino-image-1 {
    background-color: var(--color-green);
    border-radius: 30px;
    width: 300px;
    height: 300px;
    margin-left: 50px;
}

.rhino-image-1 img {
    width: 350px;
    height: auto;
    position: relative;
    top: 12%;
}

.rhino-info {
    background-color: var(--color-darkgreen-rgba);
    padding: 0 2rem;
    height: 250px;
    font-family: var(--text-font);
    color: var(--text-color-info);
}

.rhino-info h2 {
    font-size: 50px;
    text-align: start;
}

.rhino-info p {
    font-size: 15px;
    text-align: justify;
} 

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.rhino-info .button {
    background-color: #FFA500;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rhino-info .button a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: var(--text-color-info);
}

.rhino-image-2 img {
    width: 300px;
}
/* ========== Rhino Gallery end ========== */

